  <% if @result_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@result_set.errors.count, "error") %> prohibited this result_set from being saved:</h2>

      <ul>
      <% @result_set.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="row">

    <div class="col-md-4 col-md-offset-3">
      <div class="page-header">
        <h1 align="center"><%= t('helpers.titles.status_settings_title') %></h1>
      </div>
      <%= form_for [@product, @plan, @run, @result_set] do |f| %>

          <div class="field">
            <%= f.text_field :name, class: "form-control input-lg", type: "text", placeholder: t('helpers.links.result_set_name') %>
          </div>
          <div class="field">
            <%= f.text_field :date, class: "form-control custom color_input", type: "text", placeholder: t('helpers.links.change_date')%>
          </div>
          <div class="modal-footer">

            <!--<%= button_to 'Close', product_plan_run_result_set_url, class: 'btn btn-primary' %>-->
            <%= link_to 'Back', product_plan_run_result_set_path, class: 'btn btn-default' %>
            <%= f.submit class: 'btn btn-primary'%>
          </div>
      <% end %>
    </div>
  </div>
</div>

