<%= form_for(@result_set) do |f| %>
  <% if @result_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@result_set.errors.count, "error") %> prohibited this result_set from being saved:</h2>

      <ul>
      <% @result_set.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :version %><br>
    <%= f.text_field :version %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
