<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="container jumbotron sets_table">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="page-header sets_hading">
          <h1 align="center"><%= t('helpers.titles.test_results') %></h1>
        </div>
        <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
        <h3><%= t('helpers.titles.results') %></h3>
        <table class="table table-hover runs_table">
          <thead>
          <tr>
            <th><%= @result_sets.human_attribute_name(:name) %></th>
            <th><%= @result_sets.human_attribute_name(:version) %></th>
          </tr>
          </thead>
          <tbody>
          <% @result_sets.order(name: :desc).each do |run| %>
              <tr class="clickable-row run_str" data-href="<%= "#{request.original_url }/#{run.id }" %>">

                <td><%= run.name %></td>
                <td><%= run.version %></td>
                <td>
                  <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 50%">

                    </div>
                    <div class="progress-bar progress-bar-warning" style="width: 20%">
                      <span class="sr-only">20% Complete (warning)</span>
                    </div>
                    <div class="progress-bar progress-bar-danger" style="width: 10%">
                      <span class="sr-only">10% Complete (danger)</span>
                    </div>
                  </div>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#container').highcharts({
            navigation: {
                buttonOptions: {
                    enabled: false
                }
            },
            chart: {
                backgroundColor: 'rgba(225, 225, 225, 0)',
                plotBackgroundColor: null,
                plotBorderWidth: 0,
                plotShadow: false
            },
            title: {
                text: 'Browser<br>shares',
                align: 'center',
                verticalAlign: 'middle',
                y: 50
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    dataLabels: {
                        enabled: true,
                        distance: -50,
                        style: {
                            fontWeight: 'bold',
                            color: 'white',
                            textShadow: '0px 1px 2px black'
                        }
                    },
                    startAngle: -90,
                    endAngle: 90,
                    center: ['50%', '75%']
                }
            },
            series: [{
                type: 'pie',
                name: 'Browser share',
                innerSize: '50%',
                data: [
                    ['Firefox', 45.0],
                    ['IE', 45.8],
                    ['Chrome', 12.8],
                    ['Safari', 8.5],
                    ['Opera', 6.2],
                    {
                        name: 'Others',
                        y: 0.7,
                        dataLabels: {
                            enabled: false
                        }
                    }
                ]
            }]
        });
    });

    jQuery(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.document.location = $(this).data("href");
        });
    });
</script>