<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="container jumbotron runs_table">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="page-header sets_hading">
          <h1 align="center"><%= t('helpers.titles.test_results') %></h1>
        </div>
        <div id="run_status_chart" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
        <h3><%= t('helpers.titles.results') %></h3>
        <table class="table table-hover sets_table">
          <thead>
          <tr>
            <th><%= @result_sets.human_attribute_name(:name) %></th>
            <th><%= @result_sets.human_attribute_name(:version) %></th>
          </tr>
          </thead>
          <tbody>
          <% data = @run.status.map do |current_hash|%>
              <%  current_hash.delete_if {| key | key == :count } %>
              <%  {name:current_hash[:name], y:current_hash[:data].first, color:current_hash[:color]} %>
          <% end %>
          <% @result_sets.order(name: :desc).each do |set_result| %>
              <% if set_result.results.order(created_at: :desc).first.nil? %>
                  <% last_result = Status.find_by_main_status(true).id %>
                  <% else %>
                  <% last_result = set_result.results.order(created_at: :desc).first.status_id %>
              <% end %>
              <tr class="clickable-row run_str" data-href="<%= result_set_results_path(set_result) %>">
                <td><%= set_result.name %></td>
                <td><%= set_result.version %></td>
                <td style="background-color: <%= Status.find(last_result).color %>">
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#run_status_chart').highcharts({
            navigation: {
                buttonOptions: {
                    enabled: false
                }
            },
            chart: {
                backgroundColor: 'rgba(225, 225, 225, 0)',
                plotBackgroundColor: null,
                plotBorderWidth: 0,
                plotShadow: false
            },
            title: {
                text: 'Browser<br>shares',
                align: 'center',
                verticalAlign: 'middle',
                y: 50
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    animation: false,
                    dataLabels: {
                        enabled: true,
                        distance: -50,
                        style: {
                            fontWeight: 'bold',
                            color: 'white',
                            textShadow: '0px 1px 2px black'
                        }
                    },
                    startAngle: -90,
                    endAngle: 90,
                    center: ['50%', '75%']
                }
            },
            series: [{
                type: 'pie',
                name: 'Browser share',
                innerSize: '50%',
                data: <%= data.to_json.html_safe %>
            }]
        });
    });


    jQuery(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.document.location = $(this).data("href");
        });
    });
</script>