<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @result_set.status %>
</p>

<p>
  <strong>Version:</strong>
  <%= @result_set.version %>
</p>

<%= link_to 'Edit', edit_result_set_path(@result_set) %> |
<%= link_to 'Back', result_sets_path %>
