<div class="container">
  <div class="row">
    <div class="page-header">
      <h1 align="center"><%= t('helpers.titles.status_settings_title') %></h1>
    </div>
    <div class="col-md-3">
      <div class="row">
        <label></label>
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation"><a href="/settings/admin"><%= t('helpers.titles.admin_settings_title') %></a></li>
          <li role="presentation" class="active"><a href="/settings/status_settings_title">Profile</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-7">
        <label></label>
        <div class="actions">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          <%= t('helpers.links.new') %>
        </button>
        </div>
        <!-- Modal -->
        <div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><%= t('helpers.links.add_new_status') %></h4>
              </div>
              <div class="modal-body">
                <%= render 'form_add_new_status' %>
              </div>
            </div>
          </div>
        </div>
        <table class="table table-hover">
          <tbody>
          <% @statuses.each do |status| %>
              <tr class="clickable-row" data-href=<%= "/settings/status_settings/#{status.id}" %>>
                <td><%= status.name %></td>
                <td><%= status.colore %></td>
                <td><%= link_to 'Edit', edit_status_path(status) %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="field">
    </div>

  </div>
</div>
<script>
    jQuery(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.document.location = $(this).data("href");
        });
    });

    //move focus to active popup window it it was opened
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').focus()
    })
</script>

