<div class="container">
  <div class="row">
    <div class="page-header">
      <h1 align="center"><%= t('helpers.titles.status_settings_title') %></h1>
    </div>
    <div class="col-md-3">
      <div class="row">
        <label></label>
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation"><a href="/settings/admin"><%= t('helpers.titles.admin_settings_title') %></a></li>
          <li role="presentation" class="active"><a href="/settings/status_settings_title">Status Settings</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-7">
        <label></label>

        <div class="actions">
          <%= link_to t('.new', :default =>t('helpers.links.new')),
                      new_status_path,
                      :class => 'btn btn-success' %>
        </div>
        <!-- Modal -->
        <table class="table table-hover">
          <tbody>
          <% @statuses.where(disabled: false).each do |status| %>
              <tr class="row">
                <td><%= status.name %></td>
                <td>
                  <div class="color_rect_index masthead" style = "background-color: <%= status.color %>;"></div>
                </td>
                <td><%= link_to 'Edit', "/settings/status_settings_title/#{status.id}/edit" %>
                  <%= link_to t('.disable', :default => t("helpers.links.disable")),
                              "/settings/status_settings_title/#{status.id}",
                              :method => 'disable',
                              :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))} unless status.main_status %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="field">
    </div>
  </div>
</div>
<script>
    jQuery(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.document.location = $(this).data("href");
        });
    });

    //move focus to active popup window it it was opened
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').focus()
    })
</script>
