<p id="notice"><%= notice %></p>

<h1>Listing Results</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Message</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result.status %></td>
        <td><%= result.message %></td>
        <td><%= result.author %></td>
        <td><%= link_to 'Show', controller: "results", action: "show", id: result %></td>
        <td><%= link_to 'Edit', controller: "results", action: "edit", id:result %></td>
        <td><%= link_to 'Destroy', {controller: "results", action: "destroy", id: result}, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Result', controller: "results", action: "new" %>
