<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @result.status %>
</p>

<p>
  <strong>Message:</strong>
  <%= @result.message %>
</p>

<p>
  <strong>Author:</strong>
  <%= @result.author %>
</p>

<%= link_to 'Edit', controller: "results", action: "edit"%> |
<%= link_to 'Back', controller: 'results' %>
