<p id="notice"><%= notice %></p>

<h1>Listing Runs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Version</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @runs.each do |run| %>
      <tr>
        <td><%= run.name %></td>
        <td><%= run.version %></td>
        <td><%= link_to 'Show', controller: "runs", action: "show", id: run %></td>
        <td><%= link_to 'Edit', controller: "runs", action: "edit", id: run %></td>
        <td><%= link_to 'Destroy', {controller: "runs", action: "destroy", id:run}, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Run', controller: "runs", action: "new" %>
