<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @run.name %>
</p>

<p>
  <strong>Version:</strong>
  <%= @run.version %>
</p>

<%= link_to 'Edit', edit_run_path(@run) %> |
<%= link_to 'Back', runs_path %>
