<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @run.name %>
</p>

<p>
  <strong>Version:</strong>
  <%= @run.version %>
</p>

<%= link_to 'Edit', controller: "runs", action: "edit", id:@run %> |
<%= link_to 'Back', controller: "runs" %>
