<%- model_class = Run -%>
<ul class="pager">
  <li class="previous"><a href=<%= product_path(@run.products.first) %>><span aria-hidden="true">&larr;</span>Back</a></li>
</ul>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:date) %>:</strong></dt>
  <dd><%= @run.date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:version) %>:</strong></dt>
  <dd><%= @run.version %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @run.status %></dd>
</dl>

<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_run_path(@run), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              run_path(@run),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
