<div class="row">
  <div class="col-md-6">
    <%= form_for @product, :html => {:class => "form-horizontal product"} do |f| %>
        <div class="control-group">
          <%= f.label :name, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :name, :class => 'form-control' %>
          </div>
          <%= error_span(@product[:name]) %>
        </div>
        <div class="control-group">
          <%= f.label :status, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :status, :class => 'form-control' %>
          </div>
          <%= error_span(@product[:status]) %>
        </div>
        <div class="control-group">
          <%= f.label :version, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :version, :class => 'form-control' %>
          </div>
          <%= error_span(@product[:version]) %>
        </div>
        <div class="control-group">
          <%= f.label :update_data, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :update_data, :class => 'form-control' %>
          </div>
          <%= error_span(@product[:update_data]) %>
        </div>
        <div class="actions-new-button">
          <%= f.submit nil, :class => 'btn btn-primary' %>
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                      products_path, :class => 'btn btn-default' %>
        </div>
    <% end %>
  </div>
  <div class="col-md-6">
    <% if @product.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@product.errors.count, "error") %> prohibited this product from
              being
              saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @product.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>
  </div>
</div>
