<p id="notice"><%= notice %></p>

<h1 align="center">Dashboard</h1>

<table class="table table-hover">
  <thead>
  <tr bordercolor="black">
    <th>Name</th>
    <th>Status</th>
    <th>Version</th>
    <th>Update data</th>    
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @products.each do |product| %>
      <tr class='clickable-row' data-href = <%= product_path(product) %>>
        <td><%= link_to product.name, product_path(product) %></td>
        <td><%= product.status %></td>
        <td><%= product.version %></td>
        <td><%= product.update_data %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>
<%= button_to 'New Product', {:controller => :products, :action => :new}, :class =>  'btn btn-success btn-lg' %>
<script>
    jQuery(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.document.location = $(this).data("href");
        });
    });
</script>

