<p id="notice"><%= notice %></p>

<h1>Listing Plans</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Version</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= plan.name %></td>
        <td><%= plan.version %></td>
        <td><%= link_to 'Show', controller: "plans", action: "show", id:plan %></td>
        <td><%= link_to 'Edit', controller: "plans", action: "edit", id:plan  %></td>
        <td><%= link_to 'Destroy',{controller: "plans",action: "destroy", id:plan }, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Plan', controller: "plans", action: "new" %>
