<p id="notice"><%= notice %></p>


<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="page-header runs_hading">
          <h1 align="center"><%= t('helpers.titles.runs_title') %></h1>
        </div>
        <% unless @plan.runs.empty? %>
            <div id="container" style="height: 400px"></div>
            <h3><%= t('helpers.titles.runs') %></h3>
            <table class="table table-hover runs_table">
              <thead>
              <tr>
                <th><%= @plan.runs.human_attribute_name(:name) %></th>
                <th><%= @plan.runs.human_attribute_name(:version) %></th>
              </tr>
              </thead>
              <tbody>
              <% @plan.runs.order(created_at: :desc).each do |run| %>
                  <tr class="clickable-row run_str" data-href=<%= run_result_sets_path(run) %> name=<%= run.version %>>

                    <td><%= run.name %></td>
                    <td><%= run.version %></td>
                    <td>
                      <div id="status-bar-<%= run.id %>" style="min-width: 100px; max-width: 100px; height: 50px; margin: 0 auto"></div>
                      <% data = run.status.map do |current_hash| %>
                          <% current_hash.delete_if { |key| key == :count } %>
                          <% {name: current_hash[:name], data: current_hash[:data], color: current_hash[:color]} %>
                      <% end %>
                      <script>
                          $(function () {
                              $("#status-bar-<%= run.id %>").highcharts({
                                  navigation: {
                                      buttonOptions: {
                                          enabled: false
                                      }
                                  },
                                  credits: {
                                      enabled: false
                                  },
                                  tooltip: {
                                      enabled: false
                                  },
                                  chart: {
                                      height: 50,
                                      width: 250,
                                      type: 'bar',
                                      backgroundColor: null
                                  },
                                  title: {
                                      text: ''
                                  },
                                  subTitle: {
                                      text: ''
                                  },
                                  legend: {
                                      enabled: false
                                  },
                                  xAxis: {

                                      labels: {
                                          enabled: false
                                      }
                                  },
                                  yAxis: {
                                      gridLineWidth: 0,
                                      labels: {
                                          enabled: false
                                      },
                                      title: {
                                          text: ''
                                      }
                                  },
                                  legend: {
                                      enabled: false
                                  },
                                  series: <%= data.to_json.html_safe %>,
                                  plotOptions: {
                                      series: {
                                          stacking: 'normal',
                                          animation: false,
                                          dataLabels: {
                                              enabled: true
                                          }
                                      }
                                  }
                              });
                          });
                      </script>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
        <% end %>
      </div>
    </div>
  </div>
  <% plan_data = @plan.status.map do |current_hash| %>
      <% current_hash.delete_if { |key| key == :count } %>
      <% {name: current_hash[:name], y: current_hash[:data].first, color: current_hash[:color]} %>
  <% end %>
  <script type="text/javascript">
      $(function () {
          $('#container').highcharts({
              navigation: {
                  buttonOptions: {
                      enabled: false
                  }
              },
              chart: {
                  backgroundColor: 'rgba(225, 225, 225, 0)',
                  type: 'pie',
                  options3d: {
                      enabled: true,
                      alpha: 45,
                      beta: 0
                  }
              },
              title: {
                  text: '<b><%= @product.name %></b> <br><i><%= @plan.version %></i> version <br> <%= @plan.created_at %>'
              },
              tooltip: {
                  pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
              },
              plotOptions: {
                  pie: {
                      allowPointSelect: true,
                      cursor: 'pointer',
                      depth: 35,
                      animation: false,
                      dataLabels: {
                          enabled: true,
                          format: '{point.name}'
                      }
                  }
              },
              series: [{
                  type: 'pie',
                  name: 'Browser share',
                  data: <%= plan_data.to_json.html_safe %>
              }]
          });
      });

      jQuery(document).ready(function ($) {
          $(".clickable-row").click(function () {
              window.document.location = $(this).data("href");
          });
      });
  </script>
</div>